<div id="alt_topbar">
<h1>Ivy Allie</h1>
            <nav>
                <ul>
                    <li><a href="/new/">What's new</a> </li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/comics/">Comics</a></li>
                    <li><a href="/words/">Writing</a></li>
                    <li><a href="/pictures/">Artwork</a></li>
                    <li><a href="/calculator/">Calculator</a></li>
                    <li><a href="/dev">Dev site</a></li>

                </ul>
            </nav>

</div>