<nav id="nav-overlay">
    <ul>

            <li class="button"><span id="close-overlay" onclick="closeNav()" style="font-family: sans-serif;">&times;</span></li>
        {% if page.dev %}
            <li><a href="/dev/">Home</a></li>
            <li><a href="/dev/">Projects</a></li>
            <li><a href="/resume">Resum&eacute;</a></li>
        {% else %}
                    <li><a href="/new/">Home</a></li>
        <li><a href="/comics">Comics</a></li>
        <li><a href="/resources">Resources</a> </li>
        <li><a href="/words">Writing</a></li>
        <li><a href="/pictures">Artwork</a></li>
        {% endif %}
            <li onclick="modebutton()" class="button">night mode</li>

    </ul>
</nav>