<nav id="nav-overlay">
    <ul>
            <li class="button"><span id="close-overlay" onclick="closeNav()" style="font-family: sans-serif;">&times;</span></li>
            <li><a href="/">Home</a></li>
            <li><a href="/words">Words</a></li>
            <li><a href="/pictures">Pictures</a></li>
            <li><a href="/comics">Comics</a></li>
            <li><a href="/resume">Resum&eacute;</a></li>
            <li onclick="modebutton()" class="button">night mode</li>

    </ul>
</nav>