html {
    font-family: sans-serif;
    scroll-behavior: smooth ;
}

#calculator {
    width:90%;
    margin: 20pt auto;
}

#title p {
    font-style: italic;
    margin-bottom: 0;
        text-align: center;
}

#title h1 {
    margin-top:.5em;
    font-family: 'Lakki Reddy', cursive;
    font-weight: normal;
    font-size:40pt;
    color:#d00;
    text-align:center;
    line-height: 38pt;
}


.section {
    border:1px solid #666;
    border-radius:1em;
    padding:1em;
    overflow: hidden;
    margin-bottom: 1em;
}


.section h2 {
    margin-top:0;
}

.ruler_box canvas {
    float: left;
}

form {
    float:left;
    margin-left:1em;
}

form input {
    width:3em;
    border:0;
    border-bottom: 1px solid gray;
    font-size:14pt;
    margin-top:.75em;
    color:#333;
    background-color: lightskyblue;
    text-align: center;
}

form input:focus {
    color:deepskyblue;
    background-color: white;
    outline:0px;
}

.input {
    float: left;
    display: block;
    width:50%;
}

.result {
    border: 1px solid #d00;
    padding:.5em;
    margin:1em;
    float:left;
    display: block;
    width:20%;
}

.result div {
    margin-bottom: .75em;

}




.result span {
    font-weight: bold;

}

span.sendable:hover {
    color:#d00;
}

span.sendable {
    cursor: pointer;
    border-bottom: 1px solid #d00;
}

.section img {
    float:left;
    max-width:20%;
}

button {
    border:1px solid #d00;
    background-color: white;
    cursor:pointer;
    padding:.5em;
    color:#d00;
    border-radius:.25em;
}

button:hover {
    background-color: #ffcbcb;
}

button.blue {
    border-color:#00b;
    color:#00b;
}

button.blue:hover {
    background-color: #bfbfff;
}

#closer {
    text-align: center;
    margin:3em;
}

#closer h3 {
    font-family: 'Lakki Reddy', cursive;
    font-weight: normal;
    color:#d00;
    margin: 0;
}

#closer p {
    text-transform: uppercase;
    margin:0;
    font-size:10pt;
}

#closer p a {
    text-decoration: none;
    color:#d00;
}

#closer p a:hover {
    text-decoration: underline;
}

#thirtytwo {
    margin-right: 0;
    margin-left:1em;
    width:13px;
}

@media screen and (max-width: 600px) {
    .section img {
    float:none;
    max-width:70%;
        margin:1em auto;
        display: block;
}

    label:before {
        content: '\a';
        white-space: pre;
    }

    label.fixed:before {
        content:'';
    }

    .input {
        width: 100%;
    }

    .result {
        width:95%;
        margin-left: 0;
    }
}